Nom du client;affranchissement actuel;nouvel affranchissement;date de fin d'effet EXCLU

#Avec l'exemple en dessous, on bascule de G3 vers G2 (il faut donc que la cha�ne soit en G3 maintenant), le dernier param�tre permet de d�finir la date de fin d'effet de la bascule.
#La date de fin d'effet est EXCLU, si on met le 09/09/2022 et qu'on est le 09/09/2022, ON NE FAIT PLUS LA BASCULE.
Exemple_G3_Vers_G2_Avec_Date_Limite_De_Bascule;G3;G2;09/09/2022

#Avec l'exemple en dessous, on bascule de K5 vers I1 (il faut donc que la cha�ne soit en K5 maintenant), le dernier param�tre permet de d�finir la date de fin d'effet de la bascule.
#La date de fin d'effet est EXCLU, si on met le 09/09/2022 et qu'on est le 09/09/2022, ON NE FAIT PLUS LA BASCULE.
Exemple_K5_Vers_I1_Avec_Date_Limite_De_Bascule;K5;I1;08/09/2022

#Avec l'exemple en dessous, on bascule de G3 vers G2 (il faut donc que la cha�ne soit en G3 maintenant). La date de fin de bascule dans ce cas est le 01/01/2023.
Exemple_G3_Vers_G2_Sans_Date_Limite_De_Bascule;G3;G2;

#Avec l'exemple en dessous, on bascule de K5 vers I1 (il faut donc que la cha�ne soit en K5 maintenant), La date de fin de bascule dans ce cas est le 01/01/2023.
Exemple_I1_Vers_K5_Sans_Date_Limite_De_Bascule;K5;I1;
